doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js')
    script(src='/javascripts/main.js')
  body
    block content